<h3>{{ question.title }}</h3>
<p>{{ question.txt }}</p>
<form>
    <div *ngFor="#assert of question.assertion">
        <label>
            <input name="choice" type="radio">
            {{ assert.txt }}
        </label>
    </div>
</form>