<h3>
  Angular 2 Seed
</h3>
<nav>
	<a [routerLink]=" ['/Home'] ">
        Home
    </a>
  |
	<a [routerLink]=" ['/About'] ">
        About
    </a>
  |
	<a [routerLink]=" ['/Victory'] ">
        Victory
    </a>
  |
	<a [routerLink]=" ['/RepoBrowser/RepoList', {org: 'angular'}] ">
        Github Repos
    </a>
</nav>

<main>
	<router-outlet></router-outlet>
</main>


<footer>
  © 2016
</footer>